<launch>

    <arg name="bagfile" default="/media/psf/Home/Google\ Drive/GAVLAB/data/trucks/8_9_17/grouping_mode_1_trucks_moving.bag"/>

    <!-- <arg name="bagfile" default="/media/psf/Home/Google\ Drive/GAVLAB/data/trucks/8_15_17/bucket_radar_test.bag"/> -->

    <!-- rosbag play -->
    <param name="use_sim_time" value="true"/>
    <node name="rosbag" pkg="rosbag" type="play" args="-s 0 --clock -r 1.0 $(arg bagfile)" >
        <remap from="/drtk/drtkOutput2" to="/drtk_node/drtkOutput"/>
    </node>

    <!-- decompress image -->
    <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=/axis/image_raw out:=/axis_decompressed" />

    <!-- range estimator -->
    <include file="$(find cacc_range_estimation)/launch/cacc_range_estimation.launch"/>

    <!-- radar overlay -->
    <include file="$(find radar_visualization)/launch/radar_visualization.launch"/>

    <!-- image view -->
    <node pkg="image_view" type="image_view" name="image_view" output="screen" required="true" args="image:=/radar_visualization/image_overlay"/>

</launch>
