<launch>

<arg name="bagfile" default="/media/psf/Home/Google\ Drive/GAVLAB/data/trucks/8_9_17/grouping_mode_1_trucks_moving.bag"/>


    <!-- rosbag play -->
    <!-- <arg name="bagfile" default="/media/psf/Home/Google\ Drive/GAVLAB/data/trucks/8_9_17/grouping_mode_0_run_1_2017-08-09-14-04-38.bag"/> -->
    <param name="use_sim_time" value="true"/>
    <node name="rosbag" pkg="rosbag" type="play" args="-s 5 -l --clock -r 2.0 $(arg bagfile)" />


    <!-- decompress -->
    <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=/axis/image_raw out:=/axis_decompressed" />

    <!-- overlay -->
    <include file="$(find radar_visualization)/launch/radar_visualization.launch"/>

    <!-- rviz -->
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find radar_visualization)/rviz/truck.rviz"/> -->


    <!-- image view -->
    <node pkg="image_view" type="image_view" name="image_view" output="screen" required="true" args="image:=/radar_overlay"/>

</launch>
